<ul class="philogenetic-progression">
    <li><a href="#" class="{{ step == 1 ? 'active' : '' }}">Matrice de caractères</a></li>
    <li><a href="#" class="{{ step == 2 ? 'active' : '' }}">Matrice de distances</a></li>
    <li><a href="#" class="{{ step == 3 ? 'active' : '' }}">Résultat des calculs</a></li>
    <li><a href="#" class="{{ step == 4 ? 'active' : '' }}">Génération de l'arbre</a></li>
</ul>