<div class="footer">
    <ul>
        <li><a href="{{ path('homepage') }}">Quizz.fr</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li><a href="#">Conditions générales d'utilisation</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
        <li><a href="{{ path('aboutUs') }}">Mentions légales</a></li>
    </ul>
</div>